/************
 TABLE OF CONTENTS
 1. typography
    1.1 headings
    1.2 paragraphs
    1.3 specs
    1.4 links
    1.5 callout sections
 2. components
    2.1 floating close button
    2.2 buttons
    2.3 callout sections
    2.4 images
 3. structural
 4. media queries
    4.1 hover devices
    4.2 medium-width devices
    4.3 small-width devices
    4.4 tall devices
    4.5 short devices
 ************/

/************
 TYPOGRAPHY
 ************/

/* headings */

 h1 { /* main title */
  font-size: 4em;
  text-align: center;
  margin: 0 0 0.15em 0;
  line-height: 1.25em;
  width: 100%;
}

h2 { /* section headings */
  font-size: 3em;
  font-family: IvyPresto-Display, Founders Grotesk, sans-serif;
  margin-bottom: 0.5em;
}

h3 { /* subheadings */
  font-size: 1.5rem;
  margin-bottom: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h4 { /* list titles */
  font-weight: 500;
  margin: 0.25em 0 0.5em 0;
  font-size: 1.125rem;
  line-height: 1.375;
}

h4 i {
  margin-right: 0.5em;
}

/* paragraphs */

.main-subtitle {
  font-family: Founders Grotesk, sans-serif;
  font-size: 1.5rem;
  color: var(--text);
  line-height: 1.4em;
  text-align: center;
  max-width: 35ch;
  margin: 0 auto 1.5em auto;
}

.subcontainer p ~ p {
  padding-top: 0.75em;
}

.shoutout {
  margin: 4em 0 1em 0;
  font-style: italic;
}

.caption {
  text-align: center;
  color: var(--gray);
  font-size: 0.875rem;
  font-style: italic;
}

/* specs */

.specs p {
  text-align: center;
}

.splash .specs span {
  font-weight: 500;
}

/* links */

.splash .container {
  text-align: center;
}

.inline {
  color: var(--text);
}

/* callout sections */

.callout h4 {
  font-family: Founders Grotesk, sans-serif;
  color: var(--accent);
  margin: 0.5em auto 0.25em auto;
  padding: 0 !important;
  text-align: center;
  max-width: 30ch;
  line-height: 1.5em;
}

.callout p {
  font-family: Founders Grotesk, sans-serif;
  color: var(--background);
  padding: 0 !important;
  text-align: center;
  max-width: 45ch;
  line-height: 1.75em;
  margin: 0 auto;
}

.callout .callout-text-large {
  font-size: 1.5rem;
  color: var(--background);
  margin: 0.25em auto 0 auto !important;
  padding: 0 !important;
  text-align: center;
  max-width: 32ch !important;
  line-height: 1.4em;
}

.callout .callout-quote-author {
  margin: 0.5em auto 0 auto !important;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  color: var(--light-gray);
}

.callout p:not(:last-child) {
  margin: 0 auto 3em auto;
}

.callout i {
  color: var(--accent);
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.fa-quote-left {
  position: absolute;
  left: 2.5em;
  top: 1.5em;
}

.fa-quote-right {
  position: absolute;
  right: 2.5em;
  bottom: 1.5em;
}

/************
 COMPONENTS
 ************/

/* floating close button */

.close {
  position: fixed;
  right: 2.5em;
  bottom: 2.5em;
  box-shadow: var(--small-shadow);
  border-radius: 100%;
  background-color: var(--text);
  z-index: 99;
  height: 4em;
  width: 4em;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition-delay: 0s;
}

.close i {
  font-size: 1.5em;
  margin: 0 auto;
  color: var(--background);
  transition: var(--ease-fast);
  transition-delay: 0s;
}

.close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  transform: scale(0);
  z-index: -1;
  transition: var(--bouncy);
}

/* buttons */

.center-wrapper {
  text-align: center;
}

.button {
  border-width: 1px;
  background-color: var(--text);
  padding: 1.25em 2em;
  border-radius: 0.5em;
  margin: 1em 0 0 0;
  display: inline-block;
  transition: var(--bouncy);
  box-shadow: var(--small-shadow);
  overflow: hidden;
}

.button.secondary {
  background-color: var(--background);
  margin-top: 0;
}

.button p,
.button i {
  color: var(--background);
  transition: var(--ease-fast);
  transition-delay: 0s;
  font-weight: 500;
  margin-top: 0.2em;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.875rem;
}

.button.secondary p,
.button.secondary i {
  color: var(--text);
}

.button i {
  margin: 0 0 0.5em 0.6em;
  font-size: 0.75rem;
}

.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  height: 0;
  width: 100%;
  z-index: -1;
  transition: var(--bouncy);
  background-color:var(--accent);
}


/* callout sections */

.callout {
  margin: 0 auto;
  background-color: var(--text);
  border-radius: 20px;
  width: 100%;
  padding: 4em 0;
  position: relative;
  transition: var(--bouncy);
  box-shadow: var(--medium-shadow);
}

.two-column {
  display: flex;
  gap: 4em;
  flex-wrap: wrap;
  padding: 4em 4em;
  width: calc(100% - 8em)
}

.grid-item {
  width: calc(50% - 2em);
}

/* images */

.gallery {
  display: flex;
  width: 100%;
  gap: 1.5em;
}

.splash img {
  width: 100%;
  margin-bottom: 1em;
}

.photo {
  filter: grayscale(1);
}

.gallery img {
  width: calc(50% - 0.75em);
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.nav img {
  margin: 0;
}

.graphic,
.photo,
.diagram,
iframe,
video {
  transition: var(--bouncy);
}

.graphic,
.photo,
iframe,
video {
  border-radius: 20px;
  box-shadow: var(--medium-shadow);
}

.diagram,
video {
  width: 100%;
}

.diagram {
  margin-top: 1em;
}

.small {
  width: 75%;
  display: block;
}

.extra-space {
  margin-bottom: 4em !important;
}

/************
 STRUCTURAL
 ************/

section {
  position: relative;
}

.splash,
.brief,
.research,
.process,
.designs {
  box-shadow: 0px 100px 325px -325px var(--accent-dark);
}

section .container {
  width: 45rem;
}

.splash {
  margin-top: 5em;
}

.splash .specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 0 1.5em 0;
  margin: 2em 0;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.container .subcontainer:not(:last-child) { /* all subcontainers but the last of each section */
  margin-bottom: 5em;
}

.subcontainer .subsubcontainer:not(:last-child) {
  margin-bottom: 1.5em;
}

.extra-spacing {
  margin-bottom: 1.5em;
}

.subcontainer,
h2 {
  opacity: 0;
  transition: var(--ease-slower);
  transform: translateY(3rem);
}

.subcontainer.shown,
h2.shown {
  opacity: 1;
  transform: translateY(0);
}

.button-container a {
  margin: 1em 0.25em 3em 0.25em;
}

.columns {
  display: flex;
  gap: 2.5em;
  margin: 0.5em 0 1em 0;
}

.columns .subsubcontainer {
  flex: 1;
}

/************
 MEDIA QUERIES
 ************/

@media (hover: hover) {
  .inline:hover,
  .inline:focus {
    color: var(--accent-readable);
  }

  .callout:hover,
  .callout:focus {
    transform: scale(1.05);
  }

  .close:hover,
  .close:focus {
    background-color: var(--accent);
    transition: var(--bouncy);
    transform: scale(1.05);
  }

  .close:hover::before,
  .close:focus::before {
    transform: scale(1);
  }

  .close:hover i,
  .close:focus i {
    color: var(--text);
  }

  .button:hover,
  .button:focus {
    transform: scale(1.05);
    color: var(--text);
    background-color: var(--accent);
    cursor: pointer;
  }

  .button:hover::before,
  .button:focus::before {
    height: 100%;
    top: 0;
    bottom: unset;
  }

  .button:hover p,
  .button:focus p,
  .button:hover i,
  .button:focus i {
    color: var(--text);
  }

  .graphic:hover,
  .graphic:focus,
  .photo:hover,
  .photo:focus,
  .diagram:hover,
  .diagram:focus,
  iframe:hover,
  iframe:focus,
  .video-container:hover video,
  .video-container:focus video {
    transform: scale(1.05);
    filter: grayscale(0);
  }
}

.callout:active,
.button:active,
.close:active {
  transform: scale(1);
}

@media screen and (max-width: 60em) {
  .nav-links ul {
    width: 130px;
  }

  .splash,
  .brief,
  .research,
  .process,
  .designs {
    box-shadow: 0px 75px 175px -175px var(--accent-dark);
  }

  section .container {
    width: 85%;
  }
}

@media screen and (max-width: 55em) {
  .two-column {
    padding: 4em;
  }

  .callout-text-large {
    width: 80%;
  }

  .fa-quote-left,
  .fa-quote-right {
    display: block;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }

  .fa-quote-left {
    margin-bottom: 1em;
  }

  .fa-quote-right {
    margin-top: 1em;
  }

  .shoutout {
    margin: 1em 0 3em 0;
  }
}

@media screen and (max-width: 50em) {
  .splash .specs {
    flex-wrap: wrap;
    grid-gap: 2rem 0;
  }

  .splash .specs p {
    width: 50%;
    margin: 0 auto;
    white-space: nowrap;
  }

  .columns {
    display: block;
  }
}

@media screen and (max-width: 40em) {
  .splash .specs p,
  .splash .specs p span {
    font-size: 0.875rem !important;
  }

  h1 {
    font-size: 3rem;
  } 

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .splash .specs p {
    font-size: 0.875rem;
  }

  .gallery {
    flex-direction: column;
    gap: 7.5vw;
    margin-top: 2em;
  }

  .gallery img {
    width: 100%;
    margin: 0;
  }

  .two-column {
    display: relative;
    width: 100%;
    padding: 4em 0;
  }

  .two-column p {
    width: 80%;
  }
  
  .grid-item {
    width: 100%;
  }

  .close {
    bottom: 1.5em;
    right: 1.5em;
  }

  .small {
    width: 100%;
  }

  .callout-text-large {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 30em) {
  .splash,
  .brief,
  .research,
  .process,
  .designs {
    box-shadow: 0px 75px 150px -150px var(--accent-dark);
  }
}

@media screen and (max-height: 46em) {
  .splash {
    margin-top: 3.5em;
  }

  .splash img {
    margin-bottom: 0.5em;
  }

  .callout {
    padding: 2.75em 0;
  }

  .fa-quote-left {
    margin-bottom: 0.75em;
  }

  .fa-quote-right {
    margin-top: 0.75em;
  }

  .impact {
    padding-bottom: 2em;
  }
}