.splash {
  margin-top: 1.5em;
  padding-bottom: 0;
  box-shadow: none;
}

.brief {
  padding-top: 1em !important;
  padding-bottom: 2em;
}

section .container {
  width: 80%;
  max-width: 65em;
  text-align: left;
  display: flex;
  margin-bottom: 5em;
}

.image-container-outer {
  width: 80%;
  max-width: 65em;
  margin: 0 auto 3em auto;
}

.image-container {
  overflow: hidden;
  transition: var(--ease-slow);
  margin: 0 auto;
  display: flex;
}

.image-container img {
  transition: var(--ease-slow);
  margin-bottom: 0;
}

.image-container-full-width {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.splash img {
  width: 80%;
  border-radius: 1em;
  object-fit: cover;
  max-width: 65em; 
}

/* .image-container:hover {
  transform: scale(0.975) !important;
}

.image-container:hover img {
  transform: scale(1.075);
} */

.title-large,
.title-large span {
  text-align: left;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 1em;
  font-family: IvyPresto-Display;
  line-height: 1.2em;
}

.title-small {
  font-size: 2.5rem;
  line-height: 1.2em;
  margin-bottom: 0.625em;
  font-family: IvyPresto-Display;
}

h2 {
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;
  max-width: 75%;
  line-height: 1.25;
  font-family: Founders Grotesk;
}

.container {
  width: 100%;
}

.container .left {
  min-width: 22.5%;
  max-width: 22.5%;
}

.container .left h2 {
  max-width: 12ch;
}

.nav .left {
  min-width: min-content;
}

.center {
  text-align: center;
  flex: 1;
}

.body-large {
  font-size: 1.25rem;
}

.figure {
  font-size: 6rem;
  line-height: 100%;
  font-family: IvyPresto-Display;
}

.right-text {
  flex-direction: row-reverse;
}

.left-text .subcontainer:not(:has(.diagram)),
.right-text .subcontainer:not(:has(.diagram)) {
  max-width: 70%;
}

.left-text .subcontainer:has(.diagram),
.right-text .subcontainer:has(.diagram) {
  min-width: 30%;
}

.left-text .subcontainer:has(.diagram.large-half),
.right-text .subcontainer:has(.diagram.large-half) {
  min-width: 50%;
}

.left-text,
.right-text {
  gap: 7em;
}

.left-text .title-large,
.right-text .title-large {
  margin: 0 0 0.25em 0;
}

.left-text .title-small,
.right-text .title-small {
  padding: 0;
}

.gray {
  color: var(--gray);
}

.specs {
  display: block;
  border: none;
}

.specs p {
  display: block;
  text-align: left;
  color: var(--gray);
}

.specs .topmost {
  border-top: 1px solid var(--light-gray);
}

.specs div {
  display: flex;
  padding: 1em 0 0.625em 0;
  border-bottom: 1px solid var(--light-gray);
}

.specs div :nth-child(1) {
  font-weight: 500;
  min-width: 30%;
  text-transform: uppercase;
}

.flex {
  display: flex;
  gap: 3em;
  align-items: start;
  justify-content: space-between;
}

.flex p {
  min-width: 50%;
}

.flex .image-container,
.flex img {
  min-width: 40%;
  object-fit: contain;
}

.flex .image-container img {
  object-fit: cover;
}

.photo {
  border-radius: 0em;
  filter: grayscale(0);
}

h1 {
  font-size: 5rem;
  text-align: left;
}

.container:has(h1) {
  margin-bottom: 2.5em;
}

.subheading {
  font-weight: 500;
  font-size: 1.125rem;
  padding-bottom: 0;
}

.subheading i {
  margin-right: 0.25em;
}

.subcontainer {
  margin-bottom: 2em !important;
}

.subcontainer .subheading ~ p {
  padding-top: 0.125em;
}

.thin {
  max-width: 30%;
}

.thinish {
  max-width: 45%;
}

.thinner {
  max-width: 70%;
}

.shorter {
  max-width: 55ch;
}

.short {
  max-width: 40ch;
}

section {
  padding: 7.5em 0 5.5em 0;
}

.label {
  margin-top: 0.5em;
}

p ~ iframe {
  margin-top: 1.5em;
}

.banner {
  border-radius: 1em;
  max-height: 13em;
  min-width: 100%;
  object-fit: cover;
}

.image-container-outer:has(.banner) {
  margin-bottom: 5em;
}

.button-container {
  justify-content: center;
}

.diagram {
  margin-top: 0;
}

.label.large {
  font-size: 1rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 4em;
}

.less-space {
  margin-bottom: 0.5em;
}

.subcontainer.no-space {
  margin-bottom: 0 !important;
}

.flex.even * {
  flex: 1;
}

.flex.less-space {
  gap: 2em;
}

.subcontainer,
.title-small,
h1,
h2:not(#always-shown),
.specs,
.banner {
  opacity: 0;
  transition: var(--ease-slower);
  transform: translateY(3rem);
}

.subcontainer.shown,
.title-small.shown,
h1.shown,
h2:not(#always-shown).shown,
.specs.shown,
.banner.shown {
  opacity: 1;
  transform: translateY(0);
}

#always-shown {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media screen and (max-width: 60em) { /* medium-width devices: collapse work grid, introduce hamburger menu */
  section .container:not(:has(.left-text,.right-text)) {
    display: block;
  }

  .container .left {
    max-width: none;
  }

  section .container {
    width: 85%;
  }

  .image-container-outer {
    width: 85%;
  }

  .container .left h2 {
    max-width: none;
  }
}

@media screen and (max-width: 55em) {
  .splash .image-container-outer,
  .image-container-outer:has(.banner) {
    width: 100vw;
  }

  .splash .image-container-outer .image-container,
  .image-container:has(.banner),
  .banner,
  .splash video {
    border-radius: 0;
  }

  .splash img {
    height: 25em;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .title-large,
  .title-large span {
    font-size: 2.25rem;
  }

  .title-small {
    font-size: 2rem;
  }

  .specs div {
    display: block;
  }

  section .container .left h2 {
    margin-bottom: 0.5em;
    font-size: 1rem;
    max-width: none;
  }

  .flex {
    display: block;
  }

  .image-container-outer:has(.banner) {
    width: 100vw;
  }

  .banner {
    width: 100%;
    object-fit: cover;
  }

  .thin {
    max-width: 60%;
  }

  .button-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  
  .button-container * {
    text-align: center;
  }

  section .container:has(.left-text,.right-text) {
    display: block;
  }

  .left-text .subcontainer:not(:has(.diagram)),
  .right-text .subcontainer:not(:has(.diagram)) {
    max-width: 100%;
  }

  .left-text p,
  .right-text p {
    max-width: 100%;
  }

  .brief,
  .research,
  .process,
  .designs {
  box-shadow: none;
  padding-top: 0;
  }
}