/************
 TABLE OF CONTENTS
 1. custom properties
 2. typography
    2.1 headings
    2.2 paragraphs
    2.3 specs
    2.4 links
    2.5 callout sections
 3. components
    3.1 floating close button
    3.2 buttons
    3.3 callout sections
    3.4 images
 4. structural
 5. media queries
    5.1 hover devices
    5.2 medium-width devices
    5.3 small-width devices
    5.4 tall devices
    5.5 short devices
 ************/


/************
 CUSTOM PROPERTIES
 ************/

* {
  --accent-dark: #483e1c;
  --shadow: #483e1c1c;
  --accent-readable: #daad07;
  --accent: #FBD85D;
  --accent-light: #fbf5e4; 
  --background: #fefefd;
}

/************
 TYPOGRAPHY
 ************/

/* headings */

 h1 { /* main title */
  font-size: 5em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 0.25em 0;
  line-height: 1.25em;
  width: 100%;
}

h2 { /* section headings */
  font-size: 4em;
  font-weight: 400;
  text-align: left;
  font-family: IvyPresto-Display, Manrope, sans-serif;
  color: var(--text);
  line-height: 1.25em;
  margin-bottom: 0.25em;
}

h3 { /* subheadings */
  font-family: IvyPresto-Display, Manrope, sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
}

h4 { /* list titles */
  font-size: 1rem;
  margin: 0.25em 0 0.25em 0;
  text-transform: uppercase;
}

h4 i {
  margin-right: 0.5em;
}

/* paragraphs */

.main-subtitle {
  font-family: IvyPresto-Display, Manrope, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: var(--text);
  line-height: 1.4em;
  text-align: center;
  max-width: 30ch;
  margin: 0 auto 1.5em auto;
}

.subcontainer p:not(:last-child) {
  padding-bottom: 0.75em;
}

.shoutout {
  margin-top: 4em;
  font-style: italic;
}

/* specs */

.specs p {
  font-size: 0.95rem;
  text-align: center;
}

.splash .specs span {
  font-weight: bold;
  text-transform: uppercase;
}

/* links */

.splash .container {
  text-align: center;
}

.inline {
  color: var(--accent-readable);
}

/* callout sections */

.callout h4 {
  font-family: Manrope, sans-serif;
  color: var(--accent);
  margin: 0.5em auto;
  padding: 0 !important;
  text-align: center;
  max-width: 30ch;
  line-height: 1.5em;
  font-size: 1.1rem;
}

.callout p {
  font-weight: 300;
  font-family: Manrope, sans-serif;
  color: var(--background);
  padding: 0 !important;
  text-align: center;
  max-width: 45ch;
  line-height: 1.75em;
  margin: 0 auto;
}

.callout .callout-text-large {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: Manrope, sans-serif;
  color: var(--background);
  margin: 0 auto !important;
  padding: 0 !important;
  text-align: center;
  max-width: 30ch !important;
  line-height: 1.5em;
}

.callout p:not(:last-child) {
  margin: 0 auto 3em auto;
}

.callout i {
  color: var(--accent);
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.fa-quote-left {
  position: absolute;
  left: 2.5em;
  top: 1.5em;
}

.fa-quote-right {
  position: absolute;
  right: 2.5em;
  bottom: 1.5em;
}

/************
 COMPONENTS
 ************/

/* floating close button */

.close {
  position: fixed;
  right: 2.5em;
  bottom: 2.5em;
  box-shadow: var(--small-shadow);
  border-radius: 100%;
  background-color: var(--text);
  z-index: 9999;
  height: 4em;
  width: 4em;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition-delay: 0s;
}

.close i {
  font-size: 1.5em;
  margin: 0 auto;
  color: var(--background);
  transition: var(--ease-fast);
  transition-delay: 0s;
}

.close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  transform: scale(0);
  z-index: -1;
  transition: var(--bouncy);
}

/* buttons */

.button {
  font-size: 1rem;
  border-width: 1px;
  background-color: var(--text);
  padding: 1.25em 2em;
  border-radius: 1em;
  font-weight: bold;
  margin: 1em 0 0 0;
  display: inline-block;
  transition: var(--bouncy);
  box-shadow: var(--small-shadow);
  overflow: hidden;
}

.button p,
.button i {
  color: var(--background);
  transition: var(--ease-fast);
  transition-delay: 0s;
}

.button i {
  margin-left: 0.5em;
}

.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  height: 0;
  width: 100%;
  z-index: -1;
  transition: var(--bouncy);
  background-color:var(--accent);
}

/* callout sections */

.callout {
  margin: 0 auto;
  background-color: var(--text);
  border-radius: 20px;
  width: 100%;
  padding: 4em 0;
  position: relative;
  transition: var(--bouncy);
  box-shadow: var(--large-shadow);
}

/* images */

.gallery {
  display: flex;
  width: 100%;
  gap: 1em;
}

.splash img {
  width: 100%;
  margin-bottom: 2em;
}

.photo {
  filter: grayscale(1);
}

.gallery img {
  width: calc(50% - 0.5em);
}

img {
  max-width: 100%;
  margin: 1.5em auto 0em auto;
}

.nav img {
  margin: 0;
}

.graphic,
.photo {
  border-radius: 20px;
  box-shadow: var(--large-shadow);
  transition: var(--bouncy);
}

.tall {
  object-fit: cover;
  height: 40em;
}

/************
 STRUCTURAL
 ************/

section {
  position: relative;
}

section .container {
  width: 65%;
  max-width: 45rem;
}

.splash {
  margin-top: 5em;
}

.splash .specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 0 1.5em 0;
  margin: 2em 0;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.container .subcontainer:not(:last-child) { /* all subcontainers but the last of each section */
  margin-bottom: 4em;
}

.subcontainer .subsubcontainer:not(:last-child) {
  margin-bottom: 1.5em;
}

/************
 MEDIA QUERIES
 ************/

@media (hover: hover) {
  .callout:hover,
  .callout:focus {
    transform: scale(1.05);
  }

  .close:hover,
  .close:focus {
    background-color: var(--accent);
    transition: var(--bouncy);
  }

  .close:hover::before,
  .close:focus::before {
    transform: scale(1);
  }

  .close:hover i,
  .close:focus i {
    color: var(--text);
  }

  .button:hover,
  .button:focus {
    transform: scale(1.05);
    color: var(--text);
    background-color: var(--accent);
    cursor: pointer;
  }

  .button:hover::before,
  .button:focus::before {
    height: 100%;
    top: 0;
    bottom: unset;
  }

  .button:hover p,
  .button:focus p,
  .button:hover i,
  .button:focus i {
    color: var(--text);
  }

  .graphic:hover,
  .graphic:focus,
  .photo:hover,
  .photo:focus {
    transform: scale(1.05);
    filter: grayscale(0);
  }   
}

@media screen and (max-width: 60em) {
  .nav-links ul {
    width: 140px;
  }

  section .container {
    width: 85%;
  }
}

@media screen and (max-width: 55em) {
  .callout {
    padding: 4em 0;
  }

  .callout p {
    width: 75%;
  }

  .fa-quote-left,
  .fa-quote-right {
    display: block;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }

  .fa-quote-left {
    margin-bottom: 0.5em;
  }

  .fa-quote-right {
    margin-top: 0.5em;
  }

  .shoutout {
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 40em) {
  h1, 
  h2 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 2em;
  }

  .main-subtitle {
    font-size: 1.75em;
  }

  .gallery {
    flex-direction: column;
    gap: 7.5vw;
    margin-top: 2em;
  }

  .gallery img {
    width: 100%;
    margin: 0;
  }

  .splash .specs {
    flex-wrap: wrap;
    grid-gap: 1.5rem;
  }

  .splash .specs p {
    width: 40%;
    margin: 0 auto;
    white-space: nowrap;
  }

  .close {
    bottom: 1.5em;
    right: 1.5em;
  }
}

@media screen and (max-height: 46em) {
  .splash {
    margin-top: 3.5em;
  }
}