* {
  --accent-dark: #263c2e;
  --shadow: #263c311c;
  --accent-readable: #70857a;
  --accent: #b3cec1;
  --accent-highlight: #d2e5dc;
  --accent-light: #ddede5; 
  --background: #fdfefe;
  --background-opaque: #fdfefed6;
}