/************
 TABLE OF CONTENTS
 1. custom properties
 2. global styles
 3. typography
    3.1 headings
    3.2 paragraphs
    3.3 links
 4. components
    4.1 images
    4.2 cards
 5. structural
 6. media queries
    7.1 hover devices
    7.2 medium-width devices
    7.3 small-width devices
    7.4 tall devices
    7.5 short devices
 7. scroll helpers
 ************/


/************
 CUSTOM PROPERTIES
 ************/

* {
  --text: #2E2E2E;
  --accent-dark: #0E2F39;
  --accent: #23AA9D;
  --accent-light: #DDF5F3; 
  --background: #F9FCFD;
  --gradient: linear-gradient(120deg, var(--accent-dark) 0%, var(--accent) 100%);

  --linkedin: #0077B5;
  --github: #DE5C40;
  --figma: #985DF6;
  --instagram: #D300C5;
}

@font-face { 
  font-family: Manrope;
  font-weight: 400; 
  src: url('../assets/fonts/Manrope-Regular.otf'); 
} 

@font-face { 
  font-family: Manrope;
  font-weight: 700; 
  src: url('../assets/fonts/Manrope-Bold.otf'); 
} 

/************
 GLOBAL STYLES
 ************/

* {
  margin: 0;
  font-family: Manrope, sans-serif;
  color: var(--text);
  line-height: 1.9;
}

html, body {
  background-color: var(--background);
  position: relative;
  overflow-x: hidden; 
}

::selection {
  background: var(--accent-light);
}

/************
 TYPOGRAPHY
 ************/

/* headings */

h1 {
  font-family: IvyPresto-Display, Manrope, sans-serif;
  font-size: 3.5rem;
  margin-bottom: 0.2em;
  font-weight: 300;
}

h1 span {
  font-family: IvyPresto-Display, Manrope, sans-serif;
  font-weight: 400;
  font-style: italic;
}

h2 {
  margin: 0 auto;
  overflow: hidden;
  font-weight: 700;
  font-size: 2rem;
  color: var(--background);
  transition: 0.5s ease;
}

/* paragraphs */

.left p {
  font-size: 1.25rem;
  margin-left: 2.75em;
  font-weight: bold;
}

.tagline p {
  max-width: 45ch;
  font-size: 1rem;
}

.overlay p {
  color: var(--background);
  margin: 0 auto;
  transition: 0.5s ease;
  overflow: hidden;
  text-align: center;
  width: 80%;
  max-width: 30ch;
  line-height: 1.75em;
}

.about .text {
  width: calc(100% - 20.25rem);
  max-width: 59ch;
}

.about p {
  margin-bottom: 1.25em;
}

.next {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* links */

a {
  text-decoration: none;
  cursor: pointer;
}

nav ul {
  float: right;
}

nav li {
  display: inline;
}

nav li:not(:nth-child(1)) {
  margin-left: 2.5em;
}

nav p,
nav a { 
  position: relative;
  background: 
    linear-gradient(to right, var(--text), var(--text));
  background-size: 0% 0.1em;
  background-position: 0 100%;
  transition: 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  background-repeat: no-repeat;
  padding: 4px 0px
}

.inline {
  font-weight: 700;
  padding-bottom: 3px;
  background: var(--gradient);
    background-size: 0 0.1em;
    background-position: 0 100%;
	transition: 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  background-repeat: no-repeat;
  color: var(--accent);
}

.primary .inline {
  color: var(--text);
}

.about .links {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  margin-top: 2em;
}

.about .links .primary {
  margin-bottom: 0.75em;
  line-height: 2em;
}

.about .links .primary i {
  margin-right: 0.25em;
}

.about .links .socials {
  letter-spacing: 0.1em;
}

.about .links .socials i {
  transition: 0.25s ease-out;
}

/************
 COMPONENTS
 ************/

/* images */

nav img {
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}  

.about img {
  height: 26rem;
  width: 16.25rem;
  max-width: 90%;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0px 5px 20px -10px var(--accent-dark);
  transition: 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

/* cards */

.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--accent-dark);
  transition: 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  opacity: 95%;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work .grid .container {
  position: relative;
  width: calc(50% - 0.75em);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 25px -20px var(--accent-dark);
  transition: 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

/************
 STRUCTURAL
 ************/

nav {
  width: 100%;
  background-color: var(--background);
  z-index: 99;
  height: 6em;
  padding-top: 3em;
  position: fixed;
  transition: all .4s ease;
}

nav .container {
  width: 80%;
  max-width: 60rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

nav input {
  display: none;
}

.sticky {
  box-shadow: 0px 10px 30px -30px var(--accent-dark);
  padding-top: 0;
  height: 6em;
  position: fixed;
}

section {
  padding: 4em 0 5em 0;
}

.tagline {
  position: relative;
}

.work {
  margin-top: 8.5em;
  padding: 0 0 5.75em 0;
  position: relative;
}

.work,
.splash,
.brief,
.research,
.process,
.designs {
  box-shadow: 0px 30px 70px -70px var(--accent-dark);
}

section .container {
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}

.work .grid {
  width: 100%;
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  padding-top: 2em;
}

.about .container .flex {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

/************
 MEDIA QUERIES
 ************/

@media (hover: hover) { /* hover devices: hover animations */
  .left:hover > p, 
  .left:focus > p,
  nav li a:hover,
  nav li a:focus {
    background: 
      linear-gradient(to right, var(--text), var(--text));
    background-size: 100% 0.1em;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }

  .inline:hover,
  .inline:focus {
    color: var(--accent-dark);
    background-size: 100% 0.125em;
    background-repeat: no-repeat;
  }

  .social:hover > i,
  .social:focus > i {
    transform: scale(1.25);
  }

  #linkedin:hover > i,
  #linkedin:focus > i {
    color: var(--linkedin);
  }

  #github:hover > i,
  #github:focus > i {
    color: var(--github);
  }

  #figma:hover > i,
  #figma:focus > i {
    color: var(--figma);
  }

  #instagram:hover > i,
  #instagram:focus > i {
    color: var(--instagram);
  }

  .about img {
    transform: rotate(3deg);
  }  

  .about img:hover,
  .about img:focus {
    transform: rotate(0deg) scale(1.05);
  }

  a:hover > .overlay,
  a:focus > .overlay {
    top: 0;
    bottom: unset;
    height: 100%;
  }  
  
  .work .grid .container:hover,
  .work .grid .container:focus {
    transform: scale(1.025);
  }
}

@media screen and (max-width: 60em) { /* medium-width devices: collapse work grid, introduce hamburger menu */
  .work .grid .container {
    width: 100%;
  }

  .work .grid {
    gap: 7.5vw;
  }

  .nav-links {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: var(--background);
    z-index: 2;
    opacity: 0;
    transition: all .5s ease;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
  }

  .container #nav-menu:checked {
    width: 100%;
    background-color: red;
  }
  
  .nav-links ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    padding: 0;
    right: 12%;
    text-align: right;
  }

  .nav-links li,
  nav li:not(:nth-child(1)) {
    margin-right: 0px;
  }

  .nav-links li a {
    display: inline-block;
    transition-property: transform, opacity, background;
    transition: .5s ease, .5s ease, 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .nav-links a {
    opacity: 0;
    margin: 1em 0;
    transition: all .5s ease;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
    transform: translateX(-50px);
  }
  
  .nav-links li:nth-child(1) a {
    transition-property: transform, opacity, background;
    transition-delay: .1s, .1s, 0s;
  }
  
  .nav-links li:nth-child(2) a {
    transition-property: transform, opacity, background;
    transition-delay: .2s, .2s, 0s;
  }
  
  .nav-links li:nth-child(3) a {
    transition-property: transform, opacity, background;
    transition-delay: .3s, .3s, 0s;
  }
  
  .nav-links li:nth-child(4) a {
    transition-property: transform, opacity, background;
    transition-delay: .4s, .4s, 0s;
  }

  .nav-links li:nth-child(5) a {
    transition-property: transform, opacity, background;
    transition-delay: .5s, .5s, 0s;
  }
  
  .nav-btn {
      cursor: pointer;
      z-index: 3;
  }
  
  .nav-btn i {
      display: block;
      width: 20px;
      height: 2px;
      background: var(--text);
      transition: transform 0.4s ease;
      margin: 0;
  }
  
  .nav-btn i:nth-child(2) {
      margin-top: 5px;
      opacity: 1;
  }
  
  .nav-btn i:nth-child(3) {
      margin-top: 5px;
  }
  
  #nav-menu:checked ~ .nav-btn {
      transform: rotate(45deg);
  }

  #nav-menu:checked ~ .nav-btn i:nth-child(1) {
      transform: translateY(7px) rotate(180deg);
  }

  #nav-menu:checked ~ .nav-btn i:nth-child(2) {
      opacity: 0;
  }

  #nav-menu:checked ~ .nav-btn i:nth-child(3) {
      transform: translateY(-7px) rotate(90deg);
  }

  #nav-menu:checked ~ .nav-links {
      opacity: 0.95;
      -webkit-user-select: auto; /* Safari */        
      -moz-user-select: auto; /* Firefox */
      -ms-user-select: auto; /* IE10+/Edge */
      user-select: auto; /* Standard */
      pointer-events: auto;
  }

  #nav-menu:checked ~ .nav-links a {
      opacity: 1;
      transform: translateX(0);
      -webkit-user-select: auto; /* Safari */        
      -moz-user-select: auto; /* Firefox */
      -ms-user-select: auto; /* IE10+/Edge */
      user-select: auto; /* Standard */
      pointer-events: auto;
  }
}

@media screen and (max-width: 55em) { /* small-width devices: collapse about grid */
  h1 {
    width: 80%;
    line-height: 1.25em;
    text-align: center;
    margin: 0 auto 0.75em auto;
  }

  .work {
    margin-top: 8.5em;
  }

  .tagline p {
    width: 90%;
  }

  .about img {
    margin: 0 auto;
  }

  .about .text {
    width: 100%;
    max-width: none;
    order: 2;
  }
}

@media screen and (min-height: 57em) { /* tall devices: increase whitespace */
  section {
    padding: 5em 0 6em 0;
  }

  .splash {
    padding-top: 4em;
  }

  .work {
    padding-bottom: 7em;
  }
}

@media screen and (max-height: 46em) { /* short devices: decrease whitespace*/
  section {
    padding: 3em 0 3.5em 0;
  }

  .work {
    margin-top: 6.5em;
    padding-bottom: 4em;
  }

  .about {
    padding-bottom: 3em;
  }
  
  nav {
    padding-top: 1em;
  }

  .about .container .flex {
    gap: 2.25em;
  }
}

/************
 SCROLL HELPERS
 ************/

 .scroll-helper-work,
 .scroll-helper-about,
 .scroll-helper-brief,
 .scroll-helper-research,
 .scroll-helper-process,
 .scroll-helper-designs {
   height: 5.8em;
   width: 100%;
   position: absolute;
   bottom: 0;
   z-index: -99;
 }
 
 .scroll-helper-bottom {
   height: 100vh;
   width: 0;
   position: absolute;
   bottom: 0;
   z-index: -99;
 }