* {
  --accent-dark: #483e1c;
  --shadow: #483e1c1c;
  --accent-readable: #daad07;
  --accent: #f6db7b;
  --accent-highlight: #faebb7;
  --accent-light: #fbf5e4; 
  --background: #fefefd;
  --background-opaque: #fefefdd6;
}